[*.cs]

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:none

# S2933: Fields that are only assigned in the constructor should be "readonly"
dotnet_diagnostic.S2933.severity = none

# S109: Magic numbers should not be used
dotnet_diagnostic.S109.severity = none

# S3928: Parameter names used into ArgumentException constructors should match an existing one 
dotnet_diagnostic.S3928.severity = none

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = none

# S1192: String literals should not be duplicated
dotnet_diagnostic.S1192.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# S1854: Dead stores should be removed
dotnet_diagnostic.S1854.severity = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = none

# S3776: Cognitive Complexity of methods should not be too high
dotnet_diagnostic.S3776.severity = none

# S134: Control flow statements "if", "switch", "for", "foreach", "while", "do"  and "try" should not be nested too deeply
dotnet_diagnostic.S134.severity = none

# S3626: Jump statements should not be redundant
dotnet_diagnostic.S3626.severity = none
